@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    opacity: 0; 
    height: 10px;
  }

  .scrollbar-visible:hover::-webkit-scrollbar {
    opacity: 1; 
    height: 10px;
  }

  .scrollbar-visible::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px; 
  }

  .scrollbar-visible::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.3);
  }
  
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
